{% extends "home/base.html" %}
{% load static%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/about.css' %}">
{% endblock %}
{% block content %}
<p class="fest-description">
    The college fest ‘Basant’ is celebrated in the month of March/April every year. The fest is structured to provide students with a platform to realize their creative talent in the fields of technology, sports, and cultural activities. It plays an important role in shaping the personality of the students. The name of the college fest resonates with spring, embodying the rejuvenation and vibrance of life. Spring evokes enthusiasm and creative expression of talent, a time relished by students.
</p>
{% endblock content %}



