{% extends "home/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/events.css' %}">
{% endblock %}
{% block content %}
{% load static %}
<div class="events-container">
    {% for event in events %}
    <div class="event-card">
        <!-- Update the image source to concatenate the static path correctly -->
        <img src="{% static 'home/images/' %}{{ event.image }}" alt="{{ event.title }}" class="event-image">
        <div class="event-content">
            <h3>{{ event.title }}</h3>
            <p>{{ event.intro }}</p>
            <div class="event-buttons">
                <a href="{% url 'event_detail' event.id %}" class="btn details-btn">Details</a>
                <a href="{% url 'buy_tickets' event.id %}" class="btn tickets-btn">Buy Tickets</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}



