{% extends "home/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/events.css' %}">
{% endblock %}
{% block content %}
{% load static %}
<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for event in events %}
        <div class="swiper-slide">
            <div class="event-card">
                <img src="{% static 'home/images/' %}{{ event.image }}" alt="{{ event.title }}" class="event-image">
                <div class="event-content">
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.intro }}</p>
                    <div class="event-buttons">
                        <a href="{% url 'event_detail' event.id %}" class="btn details-btn">Details</a>
                        <a href="{% url 'buy_tickets' event.id %}" class="btn tickets-btn">Buy Tickets</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Swiper navigation buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <!-- Swiper pagination -->
    <div class="swiper-pagination"></div>
</div>

{% endblock content %}



