<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Basant '24 - BKBIET Fest</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>
<body>

    <div class="header">
        <img src="{% static 'home/images/BasantLOGO.png' %}" alt="Example Image" class="HomeImage"/>
    </div>

    <div class="BG1">
        <!-- Video Background -->
        <video class="BG-video" autoplay muted loop>
            <source src="{% static 'home/videos/BGvid.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- Background Image -->
        <img src="{% static 'home/images/BG1.jpg' %}" alt="Example Image" class="BG-image"/>
    </div>

</body>
</html>
