{% extends "home/base.html" %}
{% load static%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
<!-- Video Background -->
<video class="BG-video" id="bgVideo" autoplay muted loop>
    <source src="{% static 'home/videos/BGvid.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<button id="muteButton" class="mute-button" onclick="toggleMute()">
    <span id="buttonText">Unmute</span>
</button>

<a href="{% url 'WebHome' %}" class="register-button"></a>
{% endblock content %}
